/* @import url('https://fonts.googleapis.com/css?family=VT323&display=swap&subset=latin-ext,vietnamese'); */

@font-face {
	font-family: "Pokemon GB";
	src: url('./assets/fonts/PokemonGb-RAeo.ttf');
}

body {
	margin: 0;
	font-family: 'Pokemon GB';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.flex-middle {
	display: flex;
	align-items: center;
}

.inline-middle {
	display: inline-block;
	vertical-align: middle;
}

button {
	border: none;
	background: none;
}

button:focus {
	outline: none;
}

.type {
	padding: 5px;
	margin-right: 5px;
	width: auto;
	text-align: center;
}

.bug {
	background: #A8B820
}

.dark {
	background: #705848
}

.dragon {
	background: #7038F8
}

.electric {
	background: #F8D030
}

.fairy {
	background: #EE99AC
}

.fighting {
	background: #C03028
}

.fire {
	background: #F08030
}

.flying {
	background: #A890F0
}

.ghost {
	background: #705898
}

.grass {
	background: #78C850
}

.ground {
	background: #E0C068
}

.ice {
	background: #98D8D8
}

.normal {
	background: #A8A878
}

.poison {
	background: #A040A0
}

.psychic {
	background: #F85888
}

.rock {
	background: #B8A038
}

.steel {
	background: #B8B8D0;
}

.water {
	background: #6890F0;
}

.hp {
	background: #fe0000;
}

.attack {
	background: #ee7f30;
}

.defense {
	background: #f7cf2f;
}

.special-attack {
	background: #678fee;
}

.special-defense {
	background: #77c850;
}

.speed {
	background: #f85687;
}

.cust-scroll::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.cust-scroll::-webkit-scrollbar {
	width: 12px;
	background-color: none;
}

.cust-scroll::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #555;
}

.fnt-10 {
	font-size: 10px;
}

.btn-select-style {
	height: 12px;
	width: 65px;
	border-radius: 100px;
	background-color: #222;
	box-shadow: -1px 2px #010101;
	font-size: 10px;
	padding: 2px;
	text-align: center;
}

.btn-select-style:active {
	box-shadow: none;
}